.JobList-container {
    height:95%;
    width:100%;
    margin-left:15px;
    font-family: monospace;
}

.JobList-container h2 {
    margin-top:10px;
}

.JobList-container ul {
    list-style-type: none;
    margin-right:15px;
}

.JobList-container ul li {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius:5px;
    padding:5px 5px 30px 5px;
    margin-bottom:20px;
}

.listTitle {
    font-weight: bold;
    font-size:large;
}

.pageButton {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}